## Adding missing values using pandas data frame

In [2]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.DataFrame(np.random.randn(5,3), index=['a','c','e','f','h'], columns=['One','Two','Three'])

In [4]:
print(df)

        One       Two     Three
a -1.236042 -1.271768 -1.176143
c -0.457834 -1.073697  1.315030
e  0.531519 -0.427890  1.384911
f  1.172758 -1.943809 -0.113831
h -0.557240  1.109904 -1.285962

In [11]:
df = df.reindex(['a','b','c','d','e','f','g','h'])
print(df)

        One       Two     Three
a -1.236042 -1.271768 -1.176143
b       NaN       NaN       NaN
c -0.457834 -1.073697  1.315030
d       NaN       NaN       NaN
e  0.531519 -0.427890  1.384911
f  1.172758 -1.943809 -0.113831
g       NaN       NaN       NaN
h -0.557240  1.109904 -1.285962

## Check for missing values

In [12]:
print(df['One'].isnull())

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: One, dtype: bool

## Filling missing values or data

In [13]:
print("nan is replaced with 0")

nan is replaced with 0

In [14]:
 print(df.fillna(0))

        One       Two     Three
a -1.236042 -1.271768 -1.176143
b  0.000000  0.000000  0.000000
c -0.457834 -1.073697  1.315030
d  0.000000  0.000000  0.000000
e  0.531519 -0.427890  1.384911
f  1.172758 -1.943809 -0.113831
g  0.000000  0.000000  0.000000
h -0.557240  1.109904 -1.285962

## Fill NA Forward and Backward

In [15]:
print(df.fillna(method='pad'))

        One       Two     Three
a -1.236042 -1.271768 -1.176143
b -1.236042 -1.271768 -1.176143
c -0.457834 -1.073697  1.315030
d -0.457834 -1.073697  1.315030
e  0.531519 -0.427890  1.384911
f  1.172758 -1.943809 -0.113831
g  1.172758 -1.943809 -0.113831
h -0.557240  1.109904 -1.285962

In [16]:
print(df.fillna(method='bfill'))

        One       Two     Three
a -1.236042 -1.271768 -1.176143
b -0.457834 -1.073697  1.315030
c -0.457834 -1.073697  1.315030
d  0.531519 -0.427890  1.384911
e  0.531519 -0.427890  1.384911
f  1.172758 -1.943809 -0.113831
g -0.557240  1.109904 -1.285962
h -0.557240  1.109904 -1.285962

## Drop missing values

In [10]:
print(df.dropna())

        One       Two     Three
a  2.484896 -0.979332 -0.551280
c  0.503564  1.354021  0.742311
e -1.247471 -0.157329 -1.528688
f  1.109485 -0.313946 -0.414935
h  1.909439 -0.505259 -0.588318

## Replace missing Generic values

In [11]:
df1 = pd.DataFrame({'Name':['Kushal','Ram','Shyam','Hari','Gaurab','Keshab','Avin'], 'Age' : [22,32,25,26,20,22,22]})

In [12]:
print(df1.replace({'Ram':'Sudhir',32:22}))

     Name  Age
0  Kushal   22
1  Sudhir   22
2   Shyam   25
3    Hari   26
4  Gaurab   20
5  Keshab   22
6    Avin   22