In [4]:
import pandas as pd

In [6]:
data = pd.read_json('input.json')
print(data)

   ID      Name  Salary   StartDate        Dept
0   1      Rick  623.30    1/1/2012          IT
1   2       Dan  515.20   9/23/2013  Operations
2   3  Michelle  611.00  11/15/2014          IT
3   4      Ryan  729.00   5/11/2014          HR
4   5      Gary  843.25   3/27/2015     Finance
5   6      Nina  578.00   5/21/2013          IT
6   7     Simon  632.80   7/30/2013  Operations
7   8      Guru  722.50   6/17/2014     Finance

In [11]:
print(data.to_json(orient='records',lines=True))

{"ID":1,"Name":"Rick","Salary":623.3,"StartDate":"1\/1\/2012","Dept":"IT"}
{"ID":2,"Name":"Dan","Salary":515.2,"StartDate":"9\/23\/2013","Dept":"Operations"}
{"ID":3,"Name":"Michelle","Salary":611.0,"StartDate":"11\/15\/2014","Dept":"IT"}
{"ID":4,"Name":"Ryan","Salary":729.0,"StartDate":"5\/11\/2014","Dept":"HR"}
{"ID":5,"Name":"Gary","Salary":843.25,"StartDate":"3\/27\/2015","Dept":"Finance"}
{"ID":6,"Name":"Nina","Salary":578.0,"StartDate":"5\/21\/2013","Dept":"IT"}
{"ID":7,"Name":"Simon","Salary":632.8,"StartDate":"7\/30\/2013","Dept":"Operations"}
{"ID":8,"Name":"Guru","Salary":722.5,"StartDate":"6\/17\/2014","Dept":"Finance"}