In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('input.csv')

In [3]:
print(data)

   id    name  salary  start_date        dept
0   1    Rick  623.30  2012-01-01          IT
1   2     Dan  515.20  2013-09-23  Operations
2   3   Tusar  611.00  2014-11-15          IT
3   4    Ryan  729.00  2014-05-11          HR
4   5    Gary  843.25  2015-03-27     Finance
5   6   Rasmi  578.00  2013-05-21          IT
6   7  Pranab  632.80  2013-07-30  Operations
7   8    Guru  722.50  2014-06-17     Finance

In [4]:
print(data[0:5]['salary'])

0    623.30
1    515.20
2    611.00
3    729.00
4    843.25
Name: salary, dtype: float64

In [5]:
print(data.loc[:,['name','salary']])

     name  salary
0    Rick  623.30
1     Dan  515.20
2   Tusar  611.00
3    Ryan  729.00
4    Gary  843.25
5   Rasmi  578.00
6  Pranab  632.80
7    Guru  722.50

In [6]:
print(data.loc[[1,3,5],['name','salary']])

    name  salary
1    Dan   515.2
3   Ryan   729.0
5  Rasmi   578.0

In [7]:
print(data.loc[2:6,['name','salary']])

     name  salary
2   Tusar  611.00
3    Ryan  729.00
4    Gary  843.25
5   Rasmi  578.00
6  Pranab  632.80